
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "instructors";
}

<html>

<body>

    <div class="super_container">
        <div class="home">

        </div>
        @Html.Partial("_Video")
        @Html.Partial("_Instructors")
        @Html.Partial("_TopTeachers")
        @Html.Partial("_Footer")

    </div>


</body>
</html>