<!-- Courses -->

<div class="courses">
    <div class="courses_background"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section_title text-center">Популярные онлайн курсы</h2>
            </div>
        </div>
        <div class="row courses_row">

            <!-- Course -->
            <div class="col-lg-4 course_col">
                <div class="course">
                    <div class="course_image"><img src="~/images/course_1.jpg" alt=""></div>
                    <div class="course_body">
                        <div class="course_title"><a href="/Home/courseenglish">Курс английского языка</a></div>
                        <div class="course_info">
                            <ul>
                                <li><a href="/Home/courseenglish">Грекова Наталья</a></li>
                                <li><a href="#">Английский</a></li>
                            </ul>
                        </div>
                        <div class="course_text">
                            <p>Данный курс предназначен для людей, желающих изучать английский язык до уровня B2</p>
                        </div>
                    </div>
                    <div class="course_footer d-flex flex-row align-items-center justify-content-start">
                        <div class="course_students"><i class="fa fa-user" aria-hidden="true"></i><span>10</span></div>
                        <div class="course_rating ml-auto"><span>4,5</span><i class="fa fa-star" aria-hidden="true"></i></div>
                        <div class="course_mark course_free trans_200"><a href="#">Бесплатно</a></div>
                    </div>
                </div>
            </div>

            <!-- Course -->
            <div class="col-lg-4 course_col">
                <div class="course">
                    <div class="course_image"><img src="~/images/course_2.jpg" alt=""></div>
                    <div class="course_body">
                        <div class="course_title"><a href="/Home/courseenglish">Курс испанского</a></div>
                        <div class="course_info">
                            <ul>
                                <li><a href="/Home/courseenglish">Псарь Евгений</a></li>
                                <li><a href="#">Испанский</a></li>
                            </ul>
                        </div>
                        <div class="course_text">
                            <p>Данный курс предназначен для желающих изучать испанский язык для переезда в Испанию или испаноговорящие страны</p>
                        </div>
                    </div>
                    <div class="course_footer d-flex flex-row align-items-center justify-content-start">
                        <div class="course_students"><i class="fa fa-user" aria-hidden="true"></i><span>10</span></div>
                        <div class="course_rating ml-auto"><i class="fa fa-star" aria-hidden="true"></i><span>4,5</span></div>
                        <div class="course_mark course_free trans_200"><a href="#">Бесплатно</a></div>
                    </div>
                </div>
            </div>

            <!-- Course -->
            <div class="col-lg-4 course_col">
                <div class="course">
                    <div class="course_image"><img src="~/images/course_3.jpg" alt=""></div>
                    <div class="course_body">
                        <div class="course_title"><a href="course.html">Японский для аниме</a></div>
                        <div class="course_info">
                            <ul>
                                <li><a href="/Home/courseenglish">Дудниченко Злата</a></li>
                                <li><a href="#">Japanesee</a></li>
                            </ul>
                        </div>
                        <div class="course_text">
                            <p>Если вы давно хотели посетить страну восходящего солнца и поговорить с носителями языка, то этот курс точно для вас</p>
                        </div>
                    </div>
                    <div class="course_footer d-flex flex-row align-items-center justify-content-start">
                        <div class="course_students"><i class="fa fa-user" aria-hidden="true"></i><span>10</span></div>
                        <div class="course_rating ml-auto"><i class="fa fa-star" aria-hidden="true"></i><span>4,5</span></div>
                        <div class="course_mark trans_200"><a href="#">$45</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>