<!-- Footer -->

<footer class="footer">
    <div class="footer_body">
        <div class="container">
            <div class="row">

                <!-- Newsletter -->
                <div class="col-lg-3 footer_col">
                    <div class="newsletter_container d-flex flex-column align-items-start justify-content-end">
                        <div class="footer_logo mb-auto"><a href="#">Lingua</a></div>
                        <div class="footer_title">Subscribe</div>
                        <form action="#" id="newsletter_form" class="newsletter_form">
                            <input type="email" class="newsletter_input" placeholder="Email" required="required">
                            <button class="newsletter_button"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>

                <!-- About -->
                <div class="col-lg-2 offset-lg-3 footer_col">
                    <div>
                        <div class="footer_title">О нас</div>
                        <ul class="footer_list">
                            <li><a href="#">Курсы</a></li>
                            <li><a href="#">Команда</a></li>
                            <li><a href="#">Brand Guidelines</a></li>
                            <li><a href="#">Работа</a></li>
                            <li><a href="#">Продвигайтесь с нами</a></li>
                            <li><a href="#">Пресса</a></li>
                            <li><a href="#">Свяжитесь с нами</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Help & Support -->
                <div class="col-lg-2 footer_col">
                    <div class="footer_title">Help & Support</div>
                    <ul class="footer_list">
                        <li><a href="#">Обсуждения</a></li>
                        <li><a href="#">Исправление проблем</a></li>
                        <li><a href="#">Билинг FAQs</a></li>
                        <li><a href="#">Школьное FAQs</a></li>
                        <li><a href="#">Билинг Английский Тест FAQs</a></li>
                        <li><a href="#">Статус</a></li>
                    </ul>
                </div>

                <!-- Privacy -->
                <div class="col-lg-2 footer_col clearfix">
                    <div>
                        <div class="footer_title">Приватность & Термины</div>
                        <ul class="footer_list">
                            <li><a href="#">Правила сообщества</a></li>
                            <li><a href="#">Термины</a></li>
                            <li><a href="#">Правила бренда</a></li>
                            <li><a href="#">Приватность</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="copyright_content d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
                        <div class="cr">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                        <div class="cr_right ml-md-auto">
                            <div class="footer_phone"><span class="cr_title">phone:</span>+44 300 303 0266</div>
                            <div class="footer_social">
                                <span class="cr_social_title">follow us</span>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>