<!-- Intro -->

<div class="intro">
    <div class="intro_background parallax-window" data-parallax="scroll" data-image-src="images/intro.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="intro_container d-flex flex-column align-items-start justify-content-end">
                    <div class="intro_content">
                        <div class="intro_price">Free</div>
                        <div class="rating_r rating_r_4 intro_rating"><i></i><i></i><i></i><i></i><i></i></div>
                        <div class="intro_title">Vocabulary. Part 1</div>
                        <div class="intro_meta">
                            <div class="intro_image"><img src="images/intro_user.jpg" alt=""></div>
                            <div class="intro_instructors"><a href="instructors.html">Sarah Parker</a> and <span><a href="instructors.html">5 other instructors</a></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>