<!-- Language -->

<div class="language">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="language_title">Выучите языки легко</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="language_slider_container">

                    <!-- Language Slider -->

                    <div class="owl-carousel owl-theme language_slider">

                        <!-- Flag -->
                        <div class="owl-item language_item">
                            <a href="#">
                                <div class="flag"><img src="~/images/Ukrainian.svg" alt=""></div>
                                <div class="lang_name">Украинский</div>
                            </a>
                        </div>

                        <!-- Flag -->
                        <div class="owl-item language_item">
                            <a href="#">
                                <div class="flag"><img src="~/images/Japanese.svg" alt=""></div>
                                <div class="lang_name">Японский</div>
                            </a>
                        </div>

                        <!-- Flag -->
                        <div class="owl-item language_item">
                            <a href="#">
                                <div class="flag"><img src="~/images/Lithuanian.svg" alt=""></div>
                                <div class="lang_name">Литовский</div>
                            </a>
                        </div>

                        <!-- Flag -->
                        <div class="owl-item language_item">
                            <a href="#">
                                <div class="flag"><img src="~/images/Swedish.svg" alt=""></div>
                                <div class="lang_name">Шведский</div>
                            </a>
                        </div>

                        <!-- Flag -->
                        <div class="owl-item language_item">
                            <a href="#">
                                <div class="flag"><img src="~/images/English.svg" alt=""></div>
                                <div class="lang_name">Английский</div>
                            </a>
                        </div>

                        <!-- Flag -->
                        <div class="owl-item language_item">
                            <a href="#">
                                <div class="flag"><img src="~/images/Italian.svg" alt=""></div>
                                <div class="lang_name">Итальянский</div>
                            </a>
                        </div>

                        <!-- Flag -->
                        <div class="owl-item language_item">
                            <a href="#">
                                <div class="flag"><img src="~/images/Chinese.svg" alt=""></div>
                                <div class="lang_name">Китайский</div>
                            </a>
                        </div>

                        <!-- Flag -->
                        <div class="owl-item language_item">
                            <a href="#">
                                <div class="flag"><img src="~/images/French.svg" alt=""></div>
                                <div class="lang_name">Французский</div>
                            </a>
                        </div>

                        <!-- Flag -->
                        <div class="owl-item language_item">
                            <a href="#">
                                <div class="flag"><img src="~/images/German.svg" alt=""></div>
                                <div class="lang_name">Немецкий</div>
                            </a>
                        </div>

                    </div>

                    <div class="lang_nav lang_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                    <div class="lang_nav lang_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>