<h2>Login Form</h2>

<form action="/action_page.php" method="post">
    <div class="imgcontainer">
        <img src="~/images/signin.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label for="uname"><b>Имя</b></label>
        <input type="text" placeholder="Введите имя" name="uname" required>

        <label for="uname"><b>Password</b></label>
        <input type="text" placeholder="Введите пароль" name="uname" required>

        <label for="uname"><b>Reapeat password</b></label>
        <input type="text" placeholder="Повторите пароль" name="uname" required>

        <label for="uname"><b>E-mail</b></label>
        <input type="text" placeholder="E-mail" name="uname" required>

        <button type="submit">Login</button>
        <button type="submit" class="reg">Зарегистрироваться</button>
        <label>
            <input type="checkbox" checked="checked" name="politics" required> Я согласен с правилами сообщества
        </label>


    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Отмена</button>
        <span class="psw">Забыл <a href="#">пароль?</a></span>
    </div>
</form>