<!-- Register -->

<div class="register">
    <div class="container">
        <div class="row">

            <!-- Register Form -->

            <div class="col-lg-6">
                <div class="register_form_container">
                    <div class="register_form_title">Получи курс беслпатно!</div>
                    <form action="#" id="register_form" class="register_form">
                        <div class="row register_row">
                            <div class="col-lg-6 register_col">
                                <input type="text" class="form_input" placeholder="Name" required="required">
                            </div>
                            <div class="col-lg-6 register_col">
                                <input type="email" class="form_input" placeholder="Email" required="required">
                            </div>
                            <div class="col-lg-6 register_col">
                                <input type="tel" class="form_input" placeholder="Phone">
                            </div>
                            <div class="col-lg-6 register_col">
                                <input type="url" class="form_input" placeholder="Site">
                            </div>
                            <div class="col">
                                <button type="submit" class="form_button trans_200">получить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Register Timer -->

            <div class="col-lg-6">
                <div class="register_timer_container">
                    <div class="register_timer_title">Регистрируйся сейчас!</div>
                    <div class="register_timer_text">
                        <p>Отправь нам заявку в течении указанного времени и получи бесплатно курс "20 способов эффективней учить языки".</p>
                    </div>
                    <div class="timer_container">
                        <ul class="timer_list">
                            <li><div id="day" class="timer_num">00</div><div class="timer_ss">дней</div></li>
                            <li><div id="hour" class="timer_num">00</div><div class="timer_ss">часов</div></li>
                            <li><div id="minute" class="timer_num">00</div><div class="timer_ss">минут</div></li>
                            <li><div id="second" class="timer_num">00</div><div class="timer_ss">секунд</div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>