<!-- Video -->

<div class="video">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="video_content">
                    <div class="video_container_outer">
                        <div class="video_overlay d-flex flex-column align-items-start justify-content-center">
                            <div>Be</div><div>Лучший</div><div>учитель</div>
                        </div>
                        <div class="video_container">
                            <video id="vid1" class="video-js vjs-default-skin" controls width="100%" height="100%" data-setup='{ "poster": "~/images/video.jpg", "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://youtu.be/IV3ueyrp5M4"}], "youtube": { "iv_load_policy": 1 } }'>
                            </video>
                        </div>
                    </div>
                    <div class="register_button"><a href="#">register</a></div>
                </div>
            </div>
        </div>
    </div>
</div>